@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.visualizationName {
   font-family: 'Dosis', sans-serif;
   font-size: 1.25rem !important
}

.visualizationName img {
   max-height: 35px;
}

.layerName {
   font-family: 'Dosis', sans-serif;
   font-size: 1rem !important
}

.layerType {
   font-family: 'Dosis', sans-serif;
   font-size: 0.8rem !important
}
