boto3==1.37.20
botocore==1.37.20
casestyle==0.0.4
cryptography==44.0.2
dependency_injector==4.46.0
dotenv==0.9.9
ezdxf==1.4.2
Flask_Cors==5.0.1
flask-swagger==0.2.14
Flask==3.1.0
google.genai==1.19.0
langchain_community==0.3.25
langchain_openai==0.3.22
langchain==0.3.25
openai==1.77.0
pandas-stubs
pandas==2.2.2
pgvector==0.2.5
Pillow==11.1.0
prometheus_client==0.21.1
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.0.1
python-json-logger==3.3.0
python-magic==0.4.27
requests-futures==1.0.2
Requests==2.32.3
scikit_learn==1.6.1
Twisted==24.11.0
wandb==0.19.1

types-Flask-Cors
types-psycopg2
types-requests
types-tqdm
